.islemBaslik{
	FONT-FAMILY: Verdana, arial, solid;
	FONT-SIZE: 17px;
	FONT-WEIGHT: bold;
	COLOR:#990000;		
}

.bolumBaslik{
	FONT-FAMILY: Verdana, arial, solid;
	FONT-SIZE: 17px;
	FONT-WEIGHT: bold;
	COLOR:#990000;			
}
.icerik{
	FONT-FAMILY: Verdana, arial, solid;
	FONT-SIZE: 13px;
}
